<div
  class="home-page-container"
  data-controller="movies"
  data-next-page="<%= @pagy.next %>"
  data-last-page="<%= @pagy.page == @pagy.last %>"
  data-youtube-api-key="<%= ENV['YOUTUBE_API_KEY'] %>"
>
  <% if @movies.present? %>
    <div class="movies" data-target="movies.list">
      <%= render partial: "movies/movie", collection: @movies, as: :movie %>
    </div>
    <% if @pagy.next %>
      <button class="btn text-white rounded p-0-5-rem loadmore-btn" data-target="movies.loadmoreBtn" data-action="movies#loadmore">See more</button>
    <% end %>
  <% else %>
    <h1 class="empty-items-msg">No available movies</h1>
  <% end %>
</div>
